.Navbar {
  background-color: beige;
}

.Links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Itemlist {
  list-style: none;
  display: block;
}

.Listitem {
  display: inline;
  padding-right: 20px;
}

.Listitem a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: large;
}

.Listitem a:hover{
  color: green;
}

.Listitem a:active{
  color: gray;
}

.logo {
  width: 20px;
  height: 20px;
}