.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(46, 46, 46);
}

.Logo {
    width: 10%;
    margin-top: 5px;
}

.Logo img {
    max-width: 100%;
    max-height: 100%;
}

.Search {
    width: 40%;
    display: flex;
    align-items: inline;
}

.Search img{
    max-width: 75%;
    max-height: 75%;
}

.Search button {
    width: 15%;
    height: 2.6em;
    background: #67ac5e;
    border: 2px rgba(0, 0, 0, 0.368) solid;
    border-radius: 10px;
    margin-left: 4px;

}

.Search input {
    width: 85%;
    height: 30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.368);
    border-radius: 10px;
    background-color:rgb(46, 46, 46);
    font-family: sans-serif; 
}

.Search input::placeholder {
    color: rgba(0, 0, 0, 0.368);
}

.Categories {
    display: flex;
    align-items: inline;
    list-style: none;
}

.Categories li {
    padding: 0px 20px;
}

.Categories a {
    font-size: 15px;
    font-weight: bold;
    color: #67ac5e;
    text-decoration: none;
}

.User-Profile {
    margin-top: 5px;
    width: 5%;
    height: 50px;
}

.User-Profile img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
    border: 2px rgba(0, 0, 0, 0.368) solid;
}